<section class="raws">

  <section class="">
    <div class="container">

      <div layout="row" flex-xs="100" flex-sm="100" flex="33">
        <p>Insert your data or choose one of our samples</p>
        <md-menu>
          <md-button aria-label="Open Samples" class="md-icon-button" md-no-ink ng-click="$mdOpenMenu($event)">
            <md-icon md-menu-origin md-font-set="material-icons"> <i class="material-icons">folder_open</i> </md-icon>
            <md-tooltip md-direction="right">Samples</md-tooltip>
          </md-button>
          <md-menu-content width="6">
            <md-menu-item ng-repeat="s in vm.samples">
              <md-button ng-click="vm.selectSample(s)">
                <md-icon md-menu-align-target class="material-icons">text_fields</md-icon>
                {{ s.title }}
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>


      <md-content>

        <md-tabs md-dynamic-height md-center-tabs md-no-ink md-no-ink-bar md-border-bottom layout-align="center center">
          <md-tab>
            <md-tab-label>
              <md-icon md-font-set="material-icons"> <i class="material-icons">list</i> </md-icon>
              <md-tooltip md-direction="bottom">Parse</md-tooltip>
            </md-tab-label>
            <md-tab-body>
              <ui-codemirror ui-codemirror-opts="vm.codeMirrorOptions" ng-model="vm.text"></ui-codemirror>
            </md-tab-body>
          </md-tab>
          <md-tab ng-if="vm.data.length">
            <md-tab-label>
              <md-icon md-font-set="material-icons"> <i class="material-icons">apps</i> </md-icon>
              <md-tooltip md-direction="bottom">Table</md-tooltip>

            </md-tab-label>

            <md-tab-body>
              <hot-table hot-id="rawTable" datarows="vm.data" settings="vm.tableSettings">

                <hot-column ng-repeat="column in vm.metadata" data="{{column.key}}" title="column.key"></hot-column>
              </hot-table>

            </md-tab-body>



          </md-tab>
        </md-tabs>

      </md-content>



      <!--<div ng-if="!vm.loading && !vm.data.length && !vm.error" class="alert"><i class="fa fa-hand-o-right breath-right"></i> Not sure how it works? FAQs</div> TODO FAQ -->
      <div ng-if="!vm.loading && !vm.error && vm.data.length" class="alert alert-success"><i class="fa fa-thumbs-up breath-right"></i><strong>{{vm.data.length}}</strong> records in your data have been successfully parsed!</div>
      <div ng-if="!vm.loading && vm.error" class="alert alert-warning"><i class="fa fa-thumbs-down breath-right"></i><strong>Whoops!</strong> Please, check line {{vm.error+1}}</div>
      <div ng-if="vm.loading" class="alert"><i class="fa breath-right fa-refresh fa-spin"></i>Loading your data. Please wait.</div>
    </div>


  </section>

  <section ng-if="vm.error">

    <div class="container">
      <h2 class="md-headline">Ouch. It seems like RAW encountered some problems while parsing your data. Please, be sure everything is ok with your data. Often this is due to some missing delimiters. If you want to use a <a href="http://en.wikipedia.org/wiki/Delimiter">delimiter char</a> as string literal, please include it in double quotes. See our <a href="https://github.com/densitydesign/raw/wiki/FAQs#raw-says-there-is-something-wrong-with-my-data">FAQs</a> for more information.</h2>
    </div>

  </section>


  <section class="" ng-if="!vm.error && vm.data.length">

    <div class="container">

      <div>

        <h3 id="layout">
						Choose a Chart
					</h3>


        <div layout="row">

          <div flex="30">
            <div class="chart-description">
              <h4>{{vm.chart.title()}}</h4>
              <hr>
              <p class="light" ng-bind-html="vm.chart.description()"></p>
              <p class="light" data-ng-show="!vm.chart.description()">No description given</p>
            </div>
          </div>

          <div flex="70">

            <div ng-repeat="category in vm.categories">
              <h4 class="text-muted">{{category}}</h4>
              <div layout="row" layout-margin group every="3" watch="vm.charts">
                <div flex="30" ng-repeat="c in filtered = (vm.charts | categoryFilter:category) track by $index">
                  <div ng-class="{selected: c == vm.chart}" class="layout" ng-click="vm.selectChart(c)">
                    <div class="layout-thumb" ng-style="{'background-image':'url(' + c.thumbnail() + ')'}">
                    </div>
                    <p class="layout-inner">
                      <span class="layout-title">{{c.title()}}</span>
                    </p>
                  </div>
                </div>

              </div>
              <!-- end of group -->

            </div>



          </div>

        </div>


      </div>

    </div>

  </section>

  <section class="dark" ng-if="!vm.error && vm.data.length">

    <div class="container">

      <div id="mapping" layout="column">

        <div>
          <h3>Map your Dimensions
							<a ng-click="vm.model.clear()" class="pull-right light"><i class="fa fa-trash-o"></i></a>
                                    <md-tooltip md-direction="right">Samples</md-tooltip>

							<span class="clearfix"></span>
						</h3>
        </div>


        <div layout="row" layout-margin>

          <div flex="20">
            <div draggable>
              <ul class="list-unstyled dimensions-list">
                <li class="dimension" data-dimension="{{dimension}}" ng-repeat="dimension in vm.metadata track by $index">
                  <span class="dimension-key">{{ dimension.key }}</span>
                  <span class="dimension-type">{{dimension.type}}</span>
                  <span class="dimension-icon pull-right"><i class="fa fa-bars"></i></span>
                </li>
              </ul>
            </div>
          </div>


          <div flex="80">
            <div class="sticky">
              <div layout="row" layout-margin group every="3" watch="vm.model">

                <div flex="30" class="dimensions-wrapper" ng-repeat="dimension in vm.model.dimensions().values() track by $index" ng-init="open=false">

                  <div class="dimensions-model">

                    <div class="dimension-multiple">

                      <i class="fa fa-tag" data-toggle="tooltip" data-title="You can drag only one dimension here" data-ng-show="!dimension.multiple()"></i>

                      <i class="fa fa-tags" data-toggle="tooltip" data-title="You can drag more than one dimension here" data-ng-show="dimension.multiple()"></i>
                    </div>

                    <i class="fa fa-asterisk dimension-required" data-toggle="tooltip" data-title="Required" data-ng-show="dimension.required()"></i>


                    <p class="dimension-title">{{dimension.title()}}</p>
                    <ul sortable title="dimension.title()" value="dimension.value" multiple="dimension.multiple()" types="dimension.types()" class="dimensions-container list-unstyled">
                    </ul>

                  </div>


                </div>

              </div>
            </div>



          </div>

        </div>

      </div>
    </div>



  </section>

  <section class="" ng-if="!vm.error && vm.data.length">

    <div class="container">

      <h3 id="options">
			Customize your Visualization
		</h3>

      <div layout="row">
        <div flex="20" layout-margin layout="column" >
          <ul class="list-unstyled">
            <li ng-repeat="option in vm.chart.options() track by $index" chart-option>
              <p class="option-title">
                <a layout="row" layout-align="end center" class="option-fit" data-ng-show="option.fitToWidth()"><i class="fa fa-expand"></i></a>
              </p>

              <div ng-switch="" on="option.type()">
                <md-input-container ng-switch-when="number">
                  <label>{{option.title()}}</label>
                  <input ng-model="option.value" required type="number" step="any" min="1">
                </md-input-container>
                <div ng-switch-when="checkbox">
                  <label class="checkbox">
									<input type="checkbox" ng-model="option.value"/>
								</label>
                </div>

                <div colors="option.value" ng-switch-when="color"></div>

                <md-input-container ng-switch-when="list">
                  <md-select ng-model="option.value" aria-label="option">
                    <md-option ng-repeat="opt in option.values()">{{opt}} </md-option>
                  </md-select>
                </md-input-container>
                <md-input-container ng-switch-default="ng-switch-default">
                  <input type="text" min="0" class="form-control" ng-model="option.value">
                </md-input-container>
              </div>

            </li>
          </ul>
        </div>

        <div flex="80" layout-margin>
          <div class="chart-resize">

            <div ng-if="vm.model.isValid()" id="chart" class="idChart" chart="vm.chart" model="vm.model" data="vm.data" svgcode="vm.svgcode"> </div>

          </div>
          <div class="text-muted text-center " ng-show="!vm.model.isValid() ">
            <h4><span ng-bind-html="vm.model.instruction() "></span></h4>
          </div>

        </div>

      </div>
    </div>

  </section>

  <section class="dark" ng-show="vm.model.isValid()" style="padding-bottom:20px">



    <div layout="row" layout-padding>
      <div flex="20">
        <h3><i class="fa fa-arrow-circle-o-down breath-right "></i>Download</h3>
        <downloader data="vm.data" model="vm.model"></downloader>
      </div>

      <div flex="80">
        <h3 id="data "><i class="fa fa-code breath-right "></i>Embed Code</h3>
        <md-input-container class="md-block">
          <textarea aria-label="embeded code" id="source" readonly class="" rows="5" md-select-on-focus ng-model="vm.svgcode"></textarea>
        </md-input-container>
        <div layout="row" layout-align="space-between center">


          <p class="light ">Copy the code above into your HTML to embed the visualization </p>


          <md-button class="md-list-item-content" ngclipboard data-clipboard-target="#source">
            <md-icon md-font-set="material-icons"> <i class="material-icons">content_copy</i> </md-icon>
          </md-button>
        </div>

      </div>
    </div>


  </section>

</section>
