.users .social-button {
  background-size: 100% 100% !important;
  border-radius: 5px;
  display: inline-block;
  height: 75px;
  width: 75px;
}
.users .user-profile-picture {
  max-height: 150px;
  min-height: 150px;
}
.users .cropArea {
  background: #E4E4E4;
  height: 300px;
  margin: 10px auto 10px auto;
  width: 300px;
}
