<div class="col m12">
  <div class="base">
    <h3 class="col m12 center-align">Restore your password</h3>
    <p class="small center-align">Enter your account username.</p>
    <form name="vm.forgotPasswordForm" ng-submit="vm.askForPasswordReset(vm.forgotPasswordForm.$valid)" class="form-horizontal" novalidate autocomplete="off">
      <div class="form-group" show-errors>
        <input type="text" id="username" name="username" class="form-control" ng-model="vm.credentials.username" placeholder="Username" lowercase required>
        <div ng-messages="vm.forgotPasswordForm.username.$error" role="alert">
          <p class="help-block error-text" ng-message="required">Enter a username.</p>
        </div>
      </div>
      <div class="center-align form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
      <div ng-show="vm.error" class="center-align text-danger">
        <strong ng-bind="vm.error"></strong>
      </div>
      <div ng-show="vm.success" class="center-align text-success">
        <strong ng-bind="vm.success"></strong>
      </div>
    </form>
  </div>
</div>
