.addgeo .drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 170px;
    text-align: center;
    padding: 50px 10px;
    margin-left: 10px;
}


.header.label{
  font-size: 14px;
  font-weight: 600
}

.header.type{
  font-size: 12px
}


/* Column headers */
.ht_clone_top th {
  background-color: white;
}



/* Every odd row */
.ht_master tr:nth-of-type(odd) > td {
  background-color: white;
}

/* Every even row */
.ht_master tr:nth-of-type(even) > td {
  background-color: #f9f9f9;
}


.colHeader{
  text-align: left;
}


/* Right */
.ht_master tr > td {
  border-right: 1px solid #DDD;
  font-size: 12px;
  border-bottom:none;
}

.ht_master td {
    height: 30px;
    empty-cells: show;
    line-height: 30px;
    padding: 0 4px 0 4px;
    vertical-align: top;
    overflow: hidden;
    outline-width: 0;
    white-space: pre-line;
}

.handsontable input, .handsontable textarea {
    line-height: 30px;
}