<form flex="100" class="base">
  <div ng-show="vm.fileSelected" class="center-align form-group">
    <p>Crop your picture then press upload below:</p>
    <div ngf-drop ng-model="picFile" ngf-pattern="image/*" class="cropArea">
      <img-crop image="picFile | ngfDataUrl" result-image="croppedDataUrl" ng-init="croppedDataUrl=''"></img-crop>
    </div>
  </div>
  <div class="center-align">
    <img ng-src="{{vm.fileSelected ? croppedDataUrl : '/' + vm.user.profileImageURL}}" alt="{{vm.user.displayName}}" class="user-profile-picture" ngf-drop>
    <img ng-src="{{vm.fileSelected ? croppedDataUrl : '/' + vm.user.profileImageURL}}" alt="{{vm.user.displayName}}" class="user-profile-picture circle" ngf-drop>
  </div>

  <div ng-show="!vm.fileSelected" class="center-align">
    <md-button ngf-select="vm.fileSelected = true; vm.success = null" ng-model="picFile" accept="image/*" class="md-raised md-primary">Select Picture</md-button>
  </div>
  <div ng-show="vm.fileSelected" class="center-align">
    <md-button ng-click="vm.upload(croppedDataUrl, picFile.name)" class="md-raised md-primary">Upload</md-button>
    <md-button ng-click="vm.fileSelected = false" class="md-raised md-primary">Cancel</md-button>
  </div>

  <div ng-show="vm.fileSelected">
    <span layout="row" layout-align="center center">{{vm.progress}}% Complete</span>
    <div layout="row" layout-align="center center">
      <md-progress-linear flex="60" md-mode="determinate" value="{{vm.progress}}"></md-progress-linear>
    </div>
    <br />
  </div>

  <div ng-show="vm.success" class="center-align text-success">
    <strong>Profile Picture Changed Successfully</strong>
  </div>
  <div type="danger" ng-show="vm.error" class="center-align text-danger">
    <span ng-bind="vm.error"></span>
  </div>
</form>
