<section class="elts">
  <md-content flex>



    <md-tabs md-center-tabs md-border-bottom md-dynamic-height md-autoselect>
      <md-tab label="Data">
        <md-content class="md-padding">
          <md-tabs md-selected="selectedIndex" md-border-bottom md-dynamic-height md-autoselect>
            <md-tab label="Import">
              <div layout="row" layout-align="center center">
                <form>
                  <div ngf-select="vm.upload($event,$file)" ngf-drop ng-model="vm.file" class="drop-box" ngf-drag-over-class="'dragover'" ngf-multiple="false"
                    ngf-allow-dir="false">Select File
                    <span class=""> or Drop File</span></div>
                </form>
              </div>
            </md-tab>
            <md-tab ng-repeat="table in vm.listTable track by $index" label="{{table.tableid}}" md-on-select="vm.loadTable(table.tableid)">






              <md-content>
                <div ng-if="vm.loading[table.tableid]" layout="row" layout-sm="column" layout-align="space-around">
                  <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                </div>
                <div layout="column">
                  <div layout="row" layout-align="space-between center">
                    <div>
                      <h4>Viewing Table {{table.tableid}} <i class="fa fa-pencil" ng-click="vm.renameTable()" aria-hidden="true"></i></h4>
                      <p>{{table.rowsCount}} rows, {{table.colsCount}} cols</p>
                    </div>
                    <div>
                      <md-button class="md-raised md-primary" ng-click="vm.deleteTable(table.tableid)">Delete Table</md-button>
                    </div>
                  </div>
                  <hot-table ng-if="!vm.loading[table.tableid]" settings="vm.tableSettings" datarows="vm.data[table.tableid]" height="800"
                    width="1600">
                    <hot-column ng-repeat="column in vm.metadata[table.tableid]" data="{{column.label}}" title="vm.title(column)"></hot-column>
                  </hot-table>
                </div>
              </md-content>
            </md-tab>
          </md-tabs>
        </md-content>
      </md-tab>
      <md-tab label="Charts" md-selected>
        <md-content class="md-padding">
          <div layout="row">
            <div >

              <md-card ng-repeat="table in vm.listTable" ng-init="vm.fetchMetadata(table.tableid)">

                <md-toolbar md-scroll-shrink ng-click=" showMetadata = ! showMetadata " >
                  <div class="md-toolbar-tools">
                    <h4 class="md-subhead">
                      <i class="fa fa-database" aria-hidden="true"></i>
                      <span>{{table.tableid}}</span>
                      </h3>
                  </div>
                </md-toolbar>



                <ul class="items" ng-if="vm.metadata[table.tableid] ; showMetadata">
                  <li class="item" ng-repeat="meta in vm.metadata[table.tableid]" dnd-dragend="vm.buildQuery(table.tableid)" dnd-draggable="meta"
                    dnd-effect-allowed="copy">
                    {{meta.label}}
                  </li>
                </ul>

              </md-card>
            </div>

            <ul ng-repeat="group in vm.groups" class="groups" dnd-list="group.items" dnd-external-sources="true">
              <li class="title">{{group.name}}</li>
              <li class="item" ng-repeat="item in group.items track by $index" dnd-dragend="group.items.splice($index, 1);vm.buildQuery(table.tableid)"
                dnd-draggable="item" dnd-effect-allowed="copyMove">{{ item.label }}</li>
            </ul>
            <pre> {{vm.modelAsJson}} </pre>
          </div>
          <div layout="row">
            <hot-table ng-if="vm.item" datarows="vm.item">
              <hot-column ng-repeat="column in vm.itemMeta" data="{{column}}" title="column"></hot-column>
            </hot-table>
          </div>
        </md-content>
      </md-tab>
      <md-tab label="Sand Box">
        <md-content>

          <div ng-repeat="config in vm.chartConfig track by $index">
            <build-chart chart-id="'chart_' + $index" chart-config="config"></build-chart>
            <img style="width: 150px;height: 150px; " ng-src="{{config.thumbnail}}" />
          </div>

        </md-content>
      </md-tab>
      <md-tab label="Dashboard">
        <md-content>

          <div layout="row">
            <!-- Charts column -->
            <div layout="column" flex="20">
              <div>
                Charts
              </div>
              <div>
                <ul class="items">
                  <li class="item" ng-repeat="config in vm.chartConfig track by $index" dnd-dragend="vm.testThumb()" dnd-draggable="config"
                    dnd-effect-allowed="copy">
                    <img style="width: 150px;height: 150px; " ng-src="{{config.thumbnail}}" />
                  </li>
                </ul>
              </div>
            </div>

            <div layout="column" flex="80">
              <div>
                Panel
              </div>
              <div flex="50">
                <ul dnd-list="vm.dashboard" dnd-external-sources="true">
                  <li ng-repeat="config in vm.dashboard track by $index">
                    <div>
                      <div style="background-color: #3E7087" layout="row" layout-align="space-between center">
                        <div>Tools</div>
                        <div ng-click="vm.delChartFromDash($index)">[X]</div>
                      </div>
                      <div>
                        <highchart id="'chart_in_dash_' + $index" config="config"></highchart>
                      </div>
                    </div>

                  </li>
                </ul>
              </div>

            </div>
          </div>




        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</section>
