<section class="elts">
  <md-content flex>
    <md-tabs md-center-tabs md-border-bottom md-dynamic-height md-autoselect>
      <md-tab label="Data">
        <md-content class="md-padding">
          <md-tabs md-selected="selectedIndex" md-border-bottom md-dynamic-height md-autoselect>
            <md-tab label="Import">
              <div layout="row" layout-align="center center">
                <form>
                  <div ngf-select="vm.upload($event,$file)" ngf-drop ng-model="vm.file" class="drop-box" ngf-drag-over-class="'dragover'" ngf-multiple="false"
                    ngf-allow-dir="false">Select File
                    <span class=""> or Drop File</span></div>
              </form>
              </div>
            </md-tab>
            <md-tab ng-repeat="table in vm.listTable track by $index" label="{{table.tableid}}" md-on-select="vm.loadTable(table.tableid)">
              <md-content>
                <div ng-if="vm.loading[table.tableid]" layout="row" layout-sm="column" layout-align="space-around">
                  <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                </div>
                <div layout="column">
                  <div layout="row" layout-align="space-between center">
                    <div>
                      <h4>Viewing Table {{table.tableid}} <i class="fa fa-pencil" ng-click="vm.renameTable()" aria-hidden="true"></i></h4>
                      <p>{{table.rowsCount}} rows, {{table.colsCount}} cols</p>
                    </div>
                    <div>
                      <md-button class="md-raised md-primary" ng-click="vm.deleteTable(table.tableid)">Delete Table</md-button>
                    </div>
                  </div>
                  <hot-table ng-if="!vm.loading[table.tableid]" settings="vm.tableSettings" datarows="vm.data[table.tableid]" height="800"
                    width="1600">
                    <hot-column ng-repeat="column in vm.metadata[table.tableid]" data="{{column.label}}" title="vm.title(column)"></hot-column>
                    </hot-table>
                </div>
              </md-content>
            </md-tab>
          </md-tabs>
        </md-content>
      </md-tab>
      <md-tab label="Charts">
        <md-content class="md-padding">
          <div layout="row">
            <div flex-gt-sm="20" flex>
              <div ng-repeat="table in vm.listTable" ng-click=" vm.fetchMetadata(table.tableid)">
                {{table.tableid}}
                <ul class="items">
                  <li class="item" ng-repeat="meta in vm.metadata[table.tableid]" dnd-dragend="vm.buildQuery(table.tableid)" dnd-draggable="meta"
                    dnd-effect-allowed="copy">
                    {{meta.label}}
                    </li>
                </ul>
              </div>
            </div>
            <ul ng-repeat="group in vm.groups" class="groups" dnd-list="group.items" dnd-external-sources="true">
              <li class="title">{{group.name}}</li>
              <li class="item" ng-repeat="item in group.items track by $index" dnd-dragend="group.items.splice($index, 1);vm.buildQuery(table.tableid)" dnd-draggable="item"
                dnd-effect-allowed="copyMove">{{ item.label }}</li>
            </ul>
            <pre> {{vm.modelAsJson}} </pre>
          </div>
          <div layout="row">
            <hot-table ng-if="vm.item" datarows="vm.item">
              <hot-column ng-repeat="column in vm.itemMeta" data="{{column}}" title="column"></hot-column>
            </hot-table>
          </div>
        </md-content>
      </md-tab>
      <md-tab label="Dashboard">
        <md-content>
          <highchart id="chart1" config="vm.chartConfig" class="span10"></highchart>

          <md-button class="md-raised md-primary" ng-click="vm.testThumbnailGen('chart1')">Save thumbnail</md-button>
          <img style="width: 150px;height: 150px; " id="binaryImage"/>

        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</section>
